{
  "root": true,
  "plugins": ["@homer0"],
  "extends": [
    "plugin:@homer0/svelte-with-prettier"
  ],
  "overrides": [
    {
      "files": ["webpack.config.js", "rollup.config.js"],
      "extends": [
        "plugin:@homer0/node-with-prettier"
      ]
    }
  ],
  "rules": {
    "implicit-arrow-linebreak": "off"
  }
}
